flows.json
[{"id":"6d6506d1.664878","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42d8fb02.5cc184","type":"mqtt-broker","name":"aws","broker":"a1qz35zkhnlqdx-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"4c9ac439.0e756c","clientid":"RaspberryPi","usetls":true,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"/RaspberryPi","birthQos":"0","birthPayload":"{\"1\": \"1\"}","closeTopic":"workshop/status","closeQos":"0","closePayload":"Disconnected","willTopic":"workshop/status","willQos":"0","willPayload":"Disconnected unexpectedly"},{"id":"4c9ac439.0e756c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"68c78c9f5bfe592f5ee881293dcfd015898fa229bd13549bb0d2fb0ae4f81dfa-certificate.pem.crt","keyname":"68c78c9f5bfe592f5ee881293dcfd015898fa229bd13549bb0d2fb0ae4f81dfa-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"6c077177.e5da1","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ca47a72e.ec3eb8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"exampledb","tz":"","charset":"UTF8"},{"id":"36dad916.538856","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"","name":""},{"id":"11710477.c4ad1c","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"exampledb","tz":"","charset":"UTF8"},{"id":"e186f093.7ef62","type":"postgreSQLConfig","name":"@127.0.0.1:5432/postgres","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"","userFieldType":"str","password":"","passwordFieldType":"str"},{"id":"8fd5dea2.889c3","type":"rpi-gpio out","z":"6d6506d1.664878","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":510,"y":160,"wires":[]},{"id":"460bff4a.30a08","type":"mqtt in","z":"6d6506d1.664878","name":"","topic":"workshop/led","qos":"2","datatype":"auto","broker":"6c077177.e5da1","x":310,"y":160,"wires":[["8fd5dea2.889c3"]]},{"id":"a95490c1.6c571","type":"mqtt in","z":"6d6506d1.664878","name":"","topic":"workshop/test","qos":"2","datatype":"auto","broker":"6c077177.e5da1","x":310,"y":240,"wires":[["98b40af0.3d71b8"]]},{"id":"98b40af0.3d71b8","type":"csv","z":"6d6506d1.664878","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":500,"y":240,"wires":[["6defbab8.b080c4"]]},{"id":"6defbab8.b080c4","type":"e-mail","z":"6d6506d1.664878","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"voyager1opportunity@gmail.com","dname":"","x":750,"y":240,"wires":[]},{"id":"55c6ef41.e4845","type":"mqtt in","z":"6d6506d1.664878","name":"","topic":"workshop/esp8266/Temperature","qos":"2","datatype":"auto","broker":"6c077177.e5da1","nl":false,"rap":false,"x":290,"y":360,"wires":[["660f6d2f.e19ba4","c789ce53.a166d"]]},{"id":"de0377cc.7678e8","type":"e-mail","z":"6d6506d1.664878","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"voyager1opportunity@gmail.com","dname":"","x":600,"y":360,"wires":[]},{"id":"916cbe35.c15a1","type":"mqtt in","z":"6d6506d1.664878","name":"","topic":"workshop/esp8266/Humidity","qos":"2","datatype":"auto","broker":"6c077177.e5da1","x":280,"y":420,"wires":[["60c07e5f.fe5fe","c3c35275.cc9a1"]]},{"id":"60c07e5f.fe5fe","type":"e-mail","z":"6d6506d1.664878","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"voyager1opportunity@gmail.com","dname":"","x":600,"y":420,"wires":[]},{"id":"660f6d2f.e19ba4","type":"file","z":"6d6506d1.664878","name":"","filename":"/home/pi/Documents/New.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":600,"y":300,"wires":[[]]},{"id":"ce31fb92.2fa538","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.57:8091/sendData","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":660,"wires":[[]]},{"id":"1887a762.5a4439","type":"inject","z":"6d6506d1.664878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"type\":\"Humidity\", \"value\":5, \"time\":\"3\" }","payloadType":"json","x":230,"y":1000,"wires":[["f6ba6640.21e968"]]},{"id":"f6ba6640.21e968","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.57:8091/sendData","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":1000,"wires":[[]]},{"id":"c789ce53.a166d","type":"json","z":"6d6506d1.664878","name":"","property":"payload","action":"","pretty":false,"x":500,"y":620,"wires":[["ce31fb92.2fa538","3e82ce20.247a72","9792c375.ad155","ef28248c.623848","850b9d86.51e93","b23b6293.2b903","29467276.7cddbe"]]},{"id":"3e82ce20.247a72","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.127:8091/sendData","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":600,"wires":[[]]},{"id":"c3c35275.cc9a1","type":"json","z":"6d6506d1.664878","name":"","property":"payload","action":"","pretty":false,"x":490,"y":720,"wires":[["ce31fb92.2fa538","3e82ce20.247a72","9792c375.ad155","ef28248c.623848","850b9d86.51e93","85907ed8.1a61b"]]},{"id":"81a3dc97.9a4de","type":"inject","z":"6d6506d1.664878","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/RaspberryPi","payload":"{\"0\": \"0\"}","payloadType":"json","x":220,"y":1200,"wires":[["774b4853.f3d818","13a94baa.e23d04"]]},{"id":"774b4853.f3d818","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.57/sendData","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":1160,"wires":[["cad4dfc6.9e736"]]},{"id":"cad4dfc6.9e736","type":"debug","z":"6d6506d1.664878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":1160,"wires":[]},{"id":"9792c375.ad155","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"192.168.0.55:8091/sendData","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":740,"wires":[[]]},{"id":"ef28248c.623848","type":"http request","z":"6d6506d1.664878","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://ec2-18-118-25-98.us-east-2.compute.amazonaws.com:8091/sendData","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":820,"wires":[[]]},{"id":"850b9d86.51e93","type":"mqtt out","z":"6d6506d1.664878","name":"","topic":"/RaspberryPi","qos":"","retain":"","broker":"42d8fb02.5cc184","x":660,"y":1340,"wires":[]},{"id":"13a94baa.e23d04","type":"json","z":"6d6506d1.664878","name":"","property":"payload","action":"","pretty":false,"x":480,"y":1300,"wires":[["b1caadbe.885e5","850b9d86.51e93"]]},{"id":"b1caadbe.885e5","type":"debug","z":"6d6506d1.664878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1280,"wires":[]},{"id":"b23b6293.2b903","type":"function","z":"6d6506d1.664878","name":"","func":"insert = \"INSERT INTO Temperature (type, value, time) \" + \n\"VALUES ('\" + msg.payload.type + \"', '\" + msg.payload.value + \"', '\" + msg.payload.time + \"');\";\nmsg.topic = insert;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":480,"wires":[["dfe1a1e8.d1d8"]]},{"id":"dfe1a1e8.d1d8","type":"mysql","z":"6d6506d1.664878","mydb":"ca47a72e.ec3eb8","name":"","x":850,"y":480,"wires":[[]]},{"id":"29467276.7cddbe","type":"debug","z":"6d6506d1.664878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":920,"wires":[]},{"id":"85907ed8.1a61b","type":"function","z":"6d6506d1.664878","name":"","func":"insert = \"INSERT INTO Humidity (type, value, time) \" + \n\"VALUES ('\" + msg.payload.type + \"', '\" + msg.payload.value + \"', '\" + msg.payload.time + \"');\";\nmsg.topic = insert;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["dfe1a1e8.d1d8"]]}]